{% extends 'base.html.twig' %}

{% block title %}Sadam-Développeur PHP/Symfony{% endblock %}
{% block javascripts %}
  <script src= "{{asset('js/slider3.js')}}" defer> </script>
{% endblock %}

{% block body %}
   <section id="oboulot" class="about sec-pad">
          <div class="main-container oboulot-content">
            <h2 class="heading heading-sec heading-sec__mb-med">
              <span class="heading-sec__main oboulot-content">AlloFlix</span>
            </h2>
            <div class="about__content">
              <div class="about__content-main">
                <div class="about__content-details">
                  <p class="about__content-details-para oboulot-content">
                        Site qui répertorie les nouveautés en termes de films et séries. Les films et séries sont classés par genre et permet 
              à l'utilisateur de rajouter les films et séries qui l'intéresse dans sa liste de favoris, de leur donner une note et 
              d'émettre également des critiques sur ces films et séries. Le site a été avec le framework Symfony.
            
                </div>
    
              </div>
              <div class="about__content-skills">
                <h3 class="about__content-title">Technologies</h3>
                <div class="skills">
                  <div class="skills__skill">HTML</div>
                  <div class="skills__skill">CSS</div>
                  <div class="skills__skill">Bootstrap</div>
                  <div class="skills__skill">Symfony</div>
                </div>
              </div>
            </div>
          </div>
      </section>

      <section class="container ">
        <div class="content">     
          <section class="slider">
            <button class="btn slider__btn" type="button" aria-label="Précédent">&lt;</button>
            <button class="btn slider__btn button" type="button" aria-label="Suivant">&gt;</button>
          </section>
        </div>
      </section>
 
{% endblock %}

