{% extends 'base.html.twig' %}

{% block title %}Sadam-Développeur PHP/Symfony{% endblock %}
{% block javascripts %}
  <script src= "{{asset('js/slider4.js')}}" defer> </script>
  
{% endblock %}
{% block body %}

   <section id="oboulot" class="about sec-pad">
          <div class="main-container oboulot-content">
            <h2 class="heading heading-sec heading-sec__mb-med">
              <span class="heading-sec__main oboulot-content">TripOdvisor</span>
            </h2>
            <div class="about__content">
              <div class="about__content-main">
                <div class="about__content-details">
                  <p class="about__content-details-para oboulot-content">
                     Projet de conseils touristiques visant à aider les gens à organiser leurs voyages en fournissant des avis,
                    des guides et des bons plans sur les destinations les plus recherchées, ainsi que sur les restaurants les 
                    plus fins et les hôtels les plus luxueux, etc. Ce projet a été réalisé dans le cadre de ma formation chez O'Clock.
                  </p>
            
                </div>
    
              </div>
              <div class="about__content-skills">
                <h3 class="about__content-title">Technologies</h3>
                <div class="skills">
                  <div class="skills__skill">HTML</div>
                  <div class="skills__skill">CSS</div>
                  <div class="skills__skill">Javascripts</div>
                </div>
              </div>
            </div>
          </div>
      </section>

      <section class="container ">
        <div class="content">     
          <section class="slider">
            <button class="btn slider__btn" type="button" aria-label="Précédent">&lt;</button>
            <button class="btn slider__btn button" type="button" aria-label="Suivant">&gt;</button>
          </section>
        </div>
      </section>





 
{% endblock %}
